LOG_PATH=./logs

POSTGRES_PASSWORD=password
POSTGRES_USER=potg
POSTGRES_DB=potg
DATABASE_URL=postgresql://potg:password@potg-db:5432/potg?schema=public&connect_timeout=300

IDP_URL=https://api.idp.gistory.me
IDP_CLIENT_ID=CHANGE_TO_YOUR_IDP_CLIENT_ID
IDP_CLIENT_SECRET=CHANGE_TO_YOUR_IDP_CLIENT_SECRET

FIREBASE_PROJECT_ID=gsainfoteam-pot-g
FIREBASE_PRIVATE_KEY=CHANGE_TO_YOUR_FIREBASE_PRIVATE_KEY
FIREBASE_CLIENT_EMAIL=CHANGE_TO_YOUR_FIREBASE_CLIENT_EMAIL

SLACK_WEBHOOK_URL=CHANGE_TO_YOUR_SLACK_WEBHOOK_URL
